#overlay{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999999999;
  backdrop-filter: blur(20px);
  display: block;
}




main {
  > section {
    margin-bottom: 64px;
  }
}


a, button, .button {
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $black;
  }

  &:active {
    transform: scale(0.9);
  }
}