// Modal

.modal-title {
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: var(--font-size-lg);
  color: var(--primary-color);
}

.modal-footer {
  border: none;
}

canvas {
  max-width: 100%;
  width: 100%;
}

.modal-content {
  background: #ffffffdb;
  backdrop-filter: blur(8px);
}

.modal {
  * {
    font-family: $albert;
    color: #2a2a2a;
  }
  form {
    width: 100%;
    margin-inline: auto;

    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;

      label {
        font-weight: 600;
        font-size: var(--font-size-md);
        color: var(--secondary-text-color);
        margin-bottom: 7px;
      }

      input {
        border: 1px solid #737373;
        padding: 10px 16px;
        border-radius: $border-radius-40;
        background-color: transparent;
        width: 100%;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-size: var(--font-size-md);
        position: relative;
      }

      p {
        font-weight: 400;
        font-size: var(--font-size-md);
        color: var(--secondary-text-color);

        button {
          color: var(--primary-color);
          font-weight: 600;
          background-color: transparent;
        }
      }
    }
  }

  button.close {
    background-color: transparent;
    border: none;
    font-size: var(--font-size-xl);
    color: var(--primary-color);
  }

  .modal-dialog {
    max-width: 600px;
  }

  .modal-body {
    padding-inline: 45px;
  }
}

.modal#previewPDF {
  .modal-dialog {
    max-width: 800px;
    width: 100%;
    height: 95vh;
    overflow-y: auto;

    .modal-body {
      text-align: center;
      > img {
        max-width: 480px;
      }
    }
  }
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  padding-block: 30px;
  font-size: $font-24;
  font-weight: 500;
}

.btn-bg-dark {
  background: $primary-color;
  padding-block: 15px;
  border-radius: $border-radius-40;
  font-size: $font-18;
  font-weight: 500;
}

.forgot-pass {
  color: $primary-color !important;
  text-decoration: underline;
}

.captcha-show {
  display: flex;
  gap: 10px;

  > .captcha-input,
  .captcha-canvas {
    flex: 1;
  }

  .captcha-canvas {
    max-width: 220px;
    width: 100%;
    border-radius: 40px !important;
    height: 50px;
    border-radius: $border-radius-40 !important;
  }
}

.captcha-canvas {
  background: $dark;
  color: $primary-color;
}


.refresh-btn{
    img{
        max-width: 20px;
    }
}