/* styles/globals.scss */
$primary-color: #f5ba24;
$secondary-primary-color: #b16b1b;
$white: #ffffff;
$off-white: #FFFEFC;
$black: #444341;
$dark: #1c1c1c;

$footer-bg: #472907;

$d5: #E5E1D5;

$mango: #F1AD00;

$gray: #EEE5DD;

$shadow: -6px 8px 14px 0px #4b4b4b40;

// Font family variables
$albert: "Albert Sans", sans-serif;
$palatino: "Palatino", serif;
$cerebri: "Cerebri Sans Pro", serif;
$palatinoLinotype: "Palatino Linotype", serif;
$palatinoCE: "Palatino CE", serif;

$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-24: 24px;
$font-30: 30px;
$font-32: 32px;
$font-40: 40px;
$font-42: 42px;

$font-64: 64px;

$round: 50%;
$border-radius-5: 5px;
$border-radius-10: 10px;
$border-radius-20: 20px;
$border-radius-30: 30px;
$border-radius-40: 40px;
$border-radius-50: 50px;
$border-radius-100: 100px;
